* img{
    user-select: none;
}

.mid{

    background-image: url(../img/Group\ 16.png);
 
}

.cic{

    background-color: #66BB6A;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: auto;
    color:white;
    padding: auto;
    overflow: hidden;
    border:10px white solid;
    box-shadow: 1px 16px 16px rgba(128, 128, 128, 0.521);
 
}

.cic {
    display: flex;
    flex-flow: wrap;
    text-align: center;
 
}
.cic  h5{
    margin: auto;
    margin-bottom: -20px;
}
.border1{
    
    color: rgb(24, 24, 24);
    width: 220px;
    height: 100px;
    margin: auto;
    border-top-width: 4px;
    border-right:2px #66BB6A solid;
    border-left:2px #66BB6A solid;
    border-radius: 50px; 
    border-top-width: 1px;
   
    overflow: hidden;
}


.border1 h3 {
    width: 100%;
    margin: auto;
    height: auto;
    padding: 2px;
}
.list small{
    color: black;
    
}
.list{
    color:#66BB6A ;
    
   
}
.b1 div:last-child{
    width: 300px;
    height: 130px;
   display: flex;
   align-items: center;
   border-radius: 60px; 

}
.b2{
    width: 300px;
    height: 130px;
   display: flex;
   align-items: center;
   border-radius: 60px;
   border-bottom:2px #66BB6A solid;

}
.service-box{
display: flex;
justify-content: space-between;
}
.img{
    box-shadow: 1px 4px  10px rgba(128, 128, 128, 0.068);
    border-radius: 30px;
    overflow: hidden;
}
.form-control{
    outline: none;
    border: none;
}
.form-control:active{
    border: 3px #66BB6A solid;
}
.nav-link:hover{
    color: #66BB6A !important;
}
.btn {
    width: auto;
}

.head {
    text-align: center;
    
    width: 90%;
    height: 33em;
}

.head h1 {
    color: #005826;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 600;
    font-size: 100px;
}

.head p {
    color: #434343;
    font-weight: 500;
    font-size: 25px;
    justify-content: center;
}
.jambo{
    font-weight: bold;
    box-shadow: 1px 12px 12px rgb(247, 247, 247);
    border:2px rgb(247, 247, 247) solid;

}
.jambo2{
    font-weight: bold;
    box-shadow: 1px 12px 12px rgb(247, 247, 247);
    border:2px rgb(247, 247, 247) solid;
    color: white ;background: #66BB6A;
    border-radius: 6px;
}
.imgb{
    color: white;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
.iner{
    position: absolute;
    text-align: center;

}
.iner p{
    font-weight: 100;
    font-size: bold;
}
form{
  row-gap: 13px;

}
#email,#subject ,#ebody {
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 30px #b3b2b223;
    padding: 10px;
    margin-bottom: auto;
    width: 90%;
}
#submit{
    border: none;
    background-color: #66BB6A;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1em;
    width:10em;
}
.contact-img{
    
    display: grid;
}
.contact-img img{
    margin-bottom: -3em;
}
.info{
    position: relative;
}
.info svg{
    margin: 5px;

}
.contact-us{
    font-weight: bold;
    background-color: #66BB6A;
    border-radius:10px;
    box-shadow: 1px 1px 30px #b3b2b223;
    color: white;
    padding: 1em;
    position: relative;
    overflow: hidden;
    width: 90%;

}
.lilcic{
    background-color: rgb(255, 255, 255);
    width: 110px;
    height: 110px;
    border-radius: 50%;
    right: 30px;
    top:11em;
    position: absolute;
    box-shadow: 50px 70px 1px 40px #5c845e;
}
.fig svg{
    margin: auto;
}
.fig{
    background-size: cover;
    color: white;
    background-image: url(../img/noah-buscher-x8ZStukS2PM-unsplash.png);
    text-align: center;
}
.svgmid{
    display: flex;
    margin: auto;
}
.foot{
    display: flex;
    background-color: #66BB6A;
    padding: 3em;
    margin: auto;
    justify-content: center;

}
.foot>*{
    padding: 20px;
}
.prive{
    margin: auto;
    text-align: center;
    
}
.prive-text{
    text-align: center;
    margin: auto;
    color: #005826;
    font-weight: bold;
    background-color: rgba(223, 223, 223, 0.174);
    border-radius: 10px;
    box-shadow: 1px 4px  10px rgba(171, 171, 171, 0.349);
    width: 90%;
    padding: 2em;
    overflow: scroll;

}
.aboutjumbo{
    margin: 20;
    padding: 20px;
    text-align: center;
}

.about-text{
    margin: 20;
    padding: 20px;
    text-align: center;
}





@media screen and (max-width: 967px) {
    .left-imag{
        width: 20%;
        overflow: hidden;
    }
    .last-towpics {
        
        display: none;
}
     } 
     @media screen and (max-width: 991px) {
        .left-imag{
            width: 50%;
            overflow: hidden;
        }

         } 
     @media screen and (max-width: 761px) {
        .service-box:first-child img{
            border-top-right-radius: 3em;
            
        }
        .first{
            margin-left: -2em;
        }
        
        .tow-pic{
            margin-left: -2em;
           
        }
        .service-box {

            
            display: block;
            
    }
    .service-box:last-child img{
        border-bottom-right-radius: 4em;
        border-bottom-left-radius: 4em;
    }
    
         } 
         @media screen and (max-width: 1396px) {
            .left-pic {
                right: 10%;
            }
            .mid-pic{
                margin-left: 50px;
            }
            .last-towpics {
                
                
                display: none;
        }
 
        @media screen and (max-width: 795px) {
            .contact-img{
                display: none;


            }
            .left-imag{
                width: 50%;
                overflow: hidden;
            }
            
            .mid-pic{
                position: relative;
                margin:auto;
                width:100%;
            }
        }
        @media screen and (max-width: 1249px) {
            .lilcic{
                right: 5px;
                top:12em;
            }
            
        }
        @media screen and (max-width: 1231px) {
            .lilcic{
              display: none;
            }
            
        }
         }
